* {
  box-sizing: border-box;
}
.notes-container {
  width: 100vw;
  height: 100vh;
  background-color: #b6c6de;
  display: flex;
  flex-direction: column;
}
.notes-head {
  width: 100%;
  min-height: 98px;
  background-color: #001f8b;
  color: white;
  display: flex;
  align-items: center;
  gap: 25px;
  padding-left: 20px;
}
.icon {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  font-weight: 500;
  color: white;
}
.group-name {
  font-size: 24px;
}
.notes-messages {
  overflow-x: hidden;
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  overflow-wrap: break-word;
  scrollbar-width: thin;
  scrollbar-color: #001f8b #b6c6de;
}
.each-note {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1030px;
  min-height: 210px;
  height: auto;
  background-color: white;
  margin: 10px auto;
  border-radius: 10px;
  padding: 25px;
  line-height: 1.6;
  font-size: 17px;
  letter-spacing: 0.035em;
  box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.5);

  overflow-wrap: anywhere;
  word-break: normal;
  white-space: normal;
  flex-shrink: 0;
}
.background-dim {
  opacity: 0.7;
  background-color: rgba(0, 0, 0, 0.5);
}
.background-blur {
  opacity: 0.4;
  background-color: rgba(0, 0, 0, 0.5);
}
.message-time {
  position: relative;
}
.date-time {
  font-size: 15px;
  font-weight: 500;
  color: #353535;
  width: 220px;
  position: absolute;
  bottom: 5px;
  right: 0px;
  display: flex;
  gap: 10px;
  padding: 10px 10px;
  margin-top: 10px;
}
.blur-overlay {
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.4);
}
.close-chat-btn {
  display: none;
}
@media (max-width: 450px) {
  .close-chat-btn {
    display: block;
    border: none;
    background-color: #001f8b;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  .date-time {
    font-size: 13px;
    font-weight: 500;
    color: #353535;
    width: 170px;
    position: absolute;
    bottom: 5px;
    right: 0px;
    display: flex;
    gap: 10px;
    padding: 0px 0px;
  }
  .each-note {
    position: relative;
    width: 415px;
    min-height: 210px;
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
    padding: 25px;
    line-height: 160%;
    font-size: 17px;
    letter-spacing: 3.5%;
    box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.5);
    overflow-wrap: break-word;
  }
}
